html{
  overflow-x: auto; 

}

.slide{
    width:100vw;
    height:100vh;
}

.wrapper{
    display: flex;
    flex-direction: row;
    transform: rotate(90deg) translateY(-100vh);
    transform-origin: top left;
    background-image: url("Images/cool\ liquid\ background\ 1.png");
    background-repeat: no-repeat;
    background-size: contain;
    width:400vw;

}

body{
    background-image: url("Images/cool\ liquid\ background\ 1.png");
    background-size:200%;
    font-family: 'Roboto', sans-serif;

}


.outer-wrapper{
    width: 100vh;
    height: 100vw;
    transform: rotate(-90deg) translateX(-100vh);
    transform-origin: top left;
    overflow-y: scroll;
    overflow-x: hidden;
    position:absolute;
    scrollbar-width: none;
    -ms-overflow-style: none;
    scroll-behavior: smooth; 
}

::-webkit-scrollbar{
    display:none;
}
.two{
    justify-content: center;
    align-items: center;

    
}
.navbar-light{
    color: blueviolet;

}
.nav-item:hover{
background-color: white;
color: white;
}
.brand{
    margin-top: 0.5vw ;
    margin-left: 2vw ;
    color: blueviolet;
    background:none;
    border: none;
    float: left;
    width: 10%;
}

.row{
    justify-content: center;
    align-items: center;
}

.card{
    display:flex;
    justify-content: center;
    align-items: center;
    width: auto;
    margin-top: 5%;
    margin-left: 10%;
    border-radius:25px;
    color: white;
    border: 2px solid;
    box-shadow:0 6px 20px 0 rgba(0, 0, 0, 0.19);

    transition: 0.5s;
    transition-timing-function: ease-in-out;

}

.card:hover{
    background-color: blueviolet;
}

.card1{
    margin-top: 3%;
    display:flex;
    border-radius:25px;
    background-color: white;
    color: white;
    align-items: flex-end;
    justify-content: end;
    box-shadow:0 6px 20px 0 rgba(0, 0, 0, 0.19);

    transition: 0.5s;
    transition-timing-function: ease-in-out;
    padding: 1%;
  
}

.card1:hover{
    background-color: blueviolet;
}

.card-img-topR{
    margin:3%;
    border-radius:25px;
    width:161%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;

}

.card-img-topR:hover{
    transform: translateX(-50%);
}
.card-bodyR{
    text-align: start;
    padding:3%;
margin-right: -5%;
    background-color: blueviolet;
    border-radius:25px;
    transition: width 10s;
transition-timing-function: ease-in-out;
transform: translateX(-0%);
}

.col-sm-6{
    margin-left: 5rem;
    padding-left: 5%;
    width:29rem;
    justify-content: center;
    align-items: center;
}

.mb-3{
margin-left: 2%;
}
.card-img-top{
    margin:3%;
    border-radius:25px;
    width:200%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;

}

.card-img-top:hover{
    transform: translateX(-50%);
}

.card-img-top1{
    margin-top: 5%;
    border-radius:300px;
    width: 58%;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    transform: translateX(-0%);
}
.card-img-top1:hover{
    width: 60%;
}


.card-body{

display:flex;
flex-direction: column;
justify-content: center;
align-items: bottom;
text-align: center;
background-color: blueviolet;
border-radius:25px;
margin-top: 3%;
margin-bottom: 3%;

transition: width 10s;
transition-timing-function: ease-in-out;
transform: translateX(-0%);

}

.profilecard{
    justify-content: center;
    align-items: center;
    text-align:center;
    padding-left: 15%;
}

.profilecardO{
    padding: 3%;
background-color: blueviolet;
border-radius:25px;
border: 5px solid;
border-color: white;
color: white;

}
.profilepic{
    width: 80%;
    border-radius: 100%;
}
.profileinner{
    padding: 30%;
    padding-top: 10%;
    padding-bottom: 30%;
    margin-left: -60%;
    margin-top: -5%;
    width: 170%;
    height: 95%;
    background-color: white;
    border-radius: 25px;
    color: black;

}
.above{
    z-index: 1;
}

.btn {
justify-content: center;
align-items: right;
color:  blueviolet;
background-color: white;
border-radius:10px;


}

.d-flex {
    margin-left: 2%
}

.nav-link {

    color: white;
}

.v-pills-tab{
    background-color: blueviolet;
}

.nav-link:hover {
    background-color: blueviolet;
    color: white;
}
.text-muted{
    color: white;
}

/* Sign up page*/
.signuplink{
    margin-right: 45px;
    color: white;
    text-decoration: none;
}
.signuplink:hover{
    color: #4E0E78;
}
.signup{
    position: absolute;
    margin-left: 33%;
    margin-bottom: 10%;
    align-items: center;
    width: 30%;
    padding:3%;
    color: white;
    background-color: blueviolet;
    border-color:white ;
    border-radius: 25px;
    border: 10px solid ;

    box-shadow:0 6px 20px 0 rgba(0, 0, 0, 0.19);

    transition: 0.5s;
    transition-timing-function: ease-in-out;

    
}
.signup:hover{
width: 40%;

}

.form-control{
    background-color:  rgba(255, 255, 255, 0.45);
    color: white;
    transition: 0.3s;
    transition-timing-function: ease-in-out;
    box-shadow:0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border:none;
}

.form-control:hover, .form-control:active,
.form-control:focus {
    background-color:  #4E0E78;
    color: white;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: white;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color:white;
  }

  
