html{
  overflow-x: auto; 

}

.signup{
    position: center;
    margin:10%;
    padding:3%;
    background-color: rgb(211, 153, 255 ) ;
    border-radius: 25px;
    
}
.slide{
    width:100vw;
    height:100vh;
}

.wrapper{
    display: flex;
    flex-direction: row;
    transform: rotate(90deg) translateY(-100vh);
    transform-origin: top left;
    background-image: url("Images/cool\ liquid\ background\ 1.png");
    background-repeat: no-repeat;
    background-size: contain;
    width:400vw;

}

body{
    background-image: url("Images/cool\ liquid\ background\ 1.png");
    background-size:200%;
    font-family: 'Cuprum', sans-serif;
    font-family: 'Signika Negative', sans-serif;

}


.outer-wrapper{
    width: 100vh;
    height: 100vw;
    transform: rotate(-90deg) translateX(-100vh);
    transform-origin: top left;
    overflow-y: scroll;
    overflow-x: hidden;
    position:absolute;
    scrollbar-width: none;
    -ms-overflow-style: none;
    scroll-behavior: smooth; 
}

::-webkit-scrollbar{
    display:none;
}
.two{
    padding-top: 1%;
    justify-content: center;
    align-items: center;

    
}
.brand{
    margin-top: 0.5vw ;
    margin-left: 2vw ;
    color: blueviolet;
    background:none;
    border: none;
    float: left;
    width: 10%;
}

.row{
    justify-content: center;
    align-items: center;
}

.card{
    display:flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    margin-top: 5%;
    margin-left: 10%;
    border-radius:25px;
    color: white;
    border: 3px solid;
    box-shadow:0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.col-sm-6{
    margin-left: 5rem;
    padding-left: 5%;
    width:29rem;
    justify-content: center;
    align-items: center;
}

.mb-3{
margin-left: 2%;
}
.card-img-top{
    margin:3%;
    border-radius:100px;
    width:95%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
}

.card-img-top1{
    margin-top: 5%;
    border-radius:300px;
    width: 70%;
    
}

.card-img-top2{
    border-radius:300px;
    width: 60%;

    
}

.card-body{

display:flex;
flex-direction: column;
justify-content: center;
align-items: bottom;
text-align: center;
background-color: blueviolet;
border-radius:25px;

}

.btn {
justify-content: center;
align-items: right;
color:  blueviolet;
background-color: white;
border-radius:10px;


}

.d-flex {
    margin-left: 2%
}

.nav-link {

    color: white;
}

.v-pills-tab{
    background-color: blueviolet;
}

.nav-link:hover {
    background-color: blueviolet;
    color: white;
}
.text-muted{
    color: white;
}
